/*registro*/
.registerConteiner{

  width:35%;
  height:70%;
  top:0px;
  left:50px;
  z-index: 3;
  position:relative;
  text-align:left;
  color:#000000;
  font-size: 15px;
}

div.registerConteiner   input.EditText{
    left:0px;
    width:40%;
}

input:hover{
  border:1px solid #00BFFF
}

input:focus{
  border:1px solid #0FBFFF
}


#GeneralButton{

  float:left;
  height:30px;
  width:150px;
  color:#00BFFF;
  border-style:solid;
  border-color:#00BFFF;
  background-color:#1C1C1C;

}

#GeneralInput{

  float:left;
  width:50%;

}

.Header{
  height:80px;
  width:100%;
  top:0px;
  left:0px;
  z-index:3;
  position:relative;
  text-align: end;
  background: #1C1C1C;
  color: #1C1C1C;
  font-size: 10px;
}

.container{
  position:relative;
  z-index:3;
}

button.loginButton {
  right:0px;
  top:30px;
  right: 30px;
  width:60px;
  position:absolute;
  color:#00BFFF;
  background:#1C1C1C;
  border: 0px;
  font-size:20px;
  cursor:pointer
}


#RightBanner{

  width:35%;
  height:calc(100% - 160px);
  top:80px;
  right:0px;
  position:fixed;
  z-index:1;
  text-align:start;
  background:#c1c1c1;
  background-position:left;
  background-repeat:no-repeat;
  background-image:url('../Resource/fondo.JPG');
  font-size: 10px;
}

#LeftBanner{
  top:80px;
  left: 0px;
  position:absolute;
  width: 30%;
  height:calc(100% - 80px);
  background: #1C1C1C;
  color:#FFFFFF;
  bottom:0px;
  background-image:url('../Resource/fondo.jpg');
}

#CenterBanner{

  top:200px;
  left:40%;
  right:10%;
  position:absolute;
  text-align:left;

}
body{

  /*background-image: url("../Resource/white background.jpg");*/
  background-image: url("../Resource/201.png");
  margin:0px;
  height: 100%;

}

h1{

  margin-bottom:0px;

}

h3{
  margin-top:0px;
  margin-bottom:0px;
}


h4.errText{
  visibility:hidden;
}

h4{

  color:red;
  margin-top:0px;
  margin-bottom:0px;
  font-size: 10px;

}

h5{

  margin-bottom:5px;
  margin-top:25px;
}

h6{
  margin-bottom:5px;
  margin-top:0px;

}

hr{

  margin-top:0px;
}


/*logo*/

.logoBrain{
  position:absolute;
  height:80px;
  left: 30px;
  top:0px;
}

/*footer*/

.footer{
  bottom: 0px;
  left: 0px;
  position:absolute;
  width: 100%;
  height:80px;
  background: #1C1C1C;
  color:#FFFFFF;
}


/*visibility:hidden; en menos de 800px*/

@media screen and (max-width:800px){
  #LeftBanner, #RightBanner{
    visibility:hidden;
  }

  .footer{
    visibility:hidden;
  }

  .icon-bar{
    visibility:hidden;
  }

}
