
#CenterBanner{
  position:relative;
  top:200px;
  right:20%;
  left:20%;
  bottom: 50px;
  width: 60%;
  height: auto;
  text-align:left;
}

.input-group{
  width:70%;
}

.input-group-addon{
  background: #1C1C1C !important;
}
.input-group-addon i{
  color: #00BFFF;
}

@media screen and (max-width:800px){
  #CenterBanner{
    left:10%;
    right:10%;
  }

  #LeftBanner{
    visibility:hidden;
  }
}
