#header{
      height:10%;
      width:100%;
      top:0%;
      left:0%;
      z-index:3;
      position:fixed;
      text-align:end;
      background:#1c1c1c;
      color:#1c1c1c;
      font-size:10px;
    }
    
    #left{
      height:90%;
      width:15%;
      top:10%;
      left:0%;
      z-index:3;
      position:fixed;
      text-align:end;
      background:#ffffdd;
      color:#ffffdd;
      font-size:10px;
    }

    #right{
      height:90%;
      width:15%;
      top:10%;
      left:85%;
      z-index:3;
      position:fixed;
      text-align:end;
      background:#ffffee;
      color:#ffffee;
      font-size:10px;
    }

    #principal{
      height:90%;
      width:70%;
      top:10%;
      left:15%;
      z-index:3;
      position:fixed;
      background:#ffffff;
      color:#ffffff;
      font-size:10px;
    }

    #question{
      height:30%;
      width:60%;
      top:20%;
      left:20%;
      z-index:3;
      position:fixed;
      text-align:center;
      background:#112233;
      color:#112233;
      font-size:10px;
    }

    #answer{
      height:15%;
      width:60%;
      top:55%;
      left:20%;
      z-index:3;
      position:fixed;
      text-align:center;
      background:#112233;
      color:#112233;
      font-size:10px;
    }

    #answer2{
      height:15%;
      width:60%;
      top:75%;
      left:20%;
      z-index:3;
      position:fixed;
      text-align:center;
      background:#ffffff;
      color:#ffffff;
      font-size:10px;
    }

    div {
      padding-top: 5px;
      padding-right: 15px;
      padding-bottom: 5px;
      padding-left: 15px;
    }

    h4{
      color:black;
    }

    h5{
      color:black;
    }