.modal-header{
  background:#1C1C1C;
  color:#00BFFF;
  text-align: left;
}

.modal-footer{
  justify-content: left;
}

.modal-header button{
  color: white;
}

.modal-header button:hover{
  color: #00BFFF;
}


.cancel{
  background: red;
  color: white;
}

.editButton, .save{
  background: #00BFFF;
  color: white;
}

.editButton:focus, .editButton:hover, .save:hover{
  background:#1C1C1C;
  color: #00BFFF;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  position: relative;
  width: 80%;
  left: 10%;
  top: 20%;
  right: 10%;
  margin-top: 5%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media screen and (max-width:600px){

}

td.editRow{
text-align: center;
}
