.modal-header{
  background:#1C1C1C;
  color:#00BFFF;
  text-align: left;
}

.modal-footer{
  justify-content: left;
}

.modal-header button{
  color: white;
}

.modal-header button:hover{
  color: #00BFFF;
}


.cancel{
  background: red;
  color: white;
}

.editButton, .save{
  background: #00BFFF;
  color: white;
}

.editButton:focus, .editButton:hover, .save:hover{
  background:#1C1C1C;
  color: #00BFFF;
}

.table{
  border-radius:15px;
}

.profile-table {
  /* background:white !important;
  color:black !important; */
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  left: 10%;
  top: 20%;
  right: 10%;
  margin-top: 5%;
}

.user-table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.profile-container{
  display:flex;
  flex-direction:column;
}

.title-row{
  color:#00BFFF;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-bottom:15px;
  margin-top:15px;
}

.title-row label{
  font-size:35px;
}

.content-profile-row{
  display:flex;
  align-items:center;
  justify-content: center;
  margin-bottom:15px;
}

.experience-row{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.data-experience-row{
  display:flex;
  flex-direction:column;
}

.content-experience-row{
  margin-bottom:  15px;
  display: flex;
  flex-direction: column;
}

.user-main-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:80px;
  left:0px;
  width: 100%;
  height: auto;
}

.profile-user-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 3%;
  margin-left: 50px;
  margin-right: 50px;
}

.user-content{
  background:#eee;
  display: flex;
  flex-direction:column;
  height: auto;
  margin: 15px;
  padding: 10px;
  border-radius:15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-content{
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  margin-bottom: 15px;
}

.row-content{
  display: flex;
  flex-direction:column;
  padding-right: 25px;
  padding-left: 15px;
  margin-bottom: 10px;
}

.content-modal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.issue-modal{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
}


@media screen and (max-width:600px){

}

td.editRow{
text-align: center;
}
