<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Brain Community</title>
			<link rel="stylesheet" type="text/css" href="..\Style\General.css">
		<style media="screen">
.contenido {
	display:flex;
		flex-direction: row;
		justify-content:center;
}
.sidebar{
	width: 50px;
  border: 1px;
  padding: 50px;
}
.nav{
	display:flex;
		flex-direction: column;
		justify-content:left;
}
.contenido1{
	width: 800px;
  border: 1px;
  padding: 200px;

}
.contenido2{
	display:flex;
	flex-direction: column;
  border: 1px solid black;
}
		</style>
	</head>
	<body>
		<div id="Header">
      </div>
      <div id="RightBanner">
    </div>
		<div class="sidebar"role="navigation">
						<ul class="nav" id="side-menu">
								<li><a href=""><i class="fa fa-tachometer-alt fa-fw"></i>Home</a></li>
								<li><a href=""><i class="fa fa-clock fa-fw"></i>Publicaciones</a></li>
								<li><a href=""><i class="fa fa-bug fa-fw"></i>Usuarios</a></li>
								<li><a href=""><i class="fa fa-sign-out fa-fw"></i>Cerrar Sesion</a></li>
						</ul>
				</div>
				<div>
		<div class="contenido">
			<div>
			<button type="button" name="np">nuevas publicaciones</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
				<div>
					<button type="button" name="pr">publicaciones recientes</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</div>
					<div>
							<button type="button" name="pc">publicaciones mas comentadas</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</div>
		</div>
		<div class="contenido1">
			<div class="contenido2">
					<p>nuevas publicaciones<p>
			</div><br><br><br><br><br><br>
			<div class="contenido2">
					<p>nuevas publicaciones<p>
			</div><br><br><br><br><br><br>
			<div class="contenido2">
					<p>nuevas publicaciones<p>
			</div>
		</div>
	</body>
</html>
